@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    background-color: #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 370px;
    overflow-x: hidden;
}


/*----------------- Início ----------------->*/

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 130px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-buttons {
    display: flex;
    gap: 25px;
}

.header-icons {
    display: flex;
    gap: 10px;
}

.hero {
    width: 100vw;
    height: 720px;
    background-color: #006f58;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-content h1 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo {
    width: 40%;
    border-radius: 10px;
}

.hero-images img {
    width: 320px;
    display: flex;
    align-self: center;

}

.bg-professional {
    width: 100vw;
    height: 800px;
    background-image: url(../img/Patinha\ reta.png);
    background-size: 50px;
}

.professional {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 0;
    gap: 20px;
}

.professional-description {
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.professional-description ul {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
}

.professional img {
    width: 250px;
}

.rescue {
    width: 100vw;
    height: 1040px;
    display: flex;
    flex-direction: column;
    background-color: #E5F5F2;
    align-items: center;
    padding: 25px 0;
    gap: 20px;
}

.rescue-title {
    width: 200px;
}

.rescue-examples {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.rescue-examples img {
    width: 400px;
}

.examples {
    background-color: #3d6f4f;
    width: 100vw;
    position: relative;
}

.patinha {
    position: absolute;
    width: 25px;
    height: 25px;
}

.patinha-esquerda {
    top: 10px;
    left: 10px;
}

.patinha-direita {
    bottom: 10px;
    right: 10px;
}

.examples-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 50px 20px;
    gap: 30px;
}

.examples p {
    font-size: 12px;
    padding: 0 20px;
}

.examples-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.examples-images img {
    width: 280px;
    height: 340px;
    border-radius: 20px;
    object-fit: cover;
}

footer {
    width: 100vw;
    height: 50px;
    background-color: #006f58;
}

footer a {
    color: #fff;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-whatsapp {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 99;
}

.button-whatsapp img {
    max-width: 44px;
    transition: transform 0.4s;
}

.button-whatsapp img:hover {
    transform: scale(1.1);
}



/*----------------- Doações ----------------->*/

.donation {
    background-color: #3d6f4f;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 10px;
    position: relative;
}

.donation-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.donation-code .donation-title {
    width: 200px;
}

.donation-code .donation-qrcode {
    width: 80%;
    border-radius: 8px;
    margin-top: 10px;
}

.donation-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
    padding: 8px;
    font-weight: 400;
    font-size: 15px;

}

.donation-list {
    display: flex;
    width: 300px;
    text-align: left;
}

.donation-text span {
    text-transform: uppercase;
    font-weight: bold;
}



/*----------------- Contato ----------------->*/

.contact {
    background-color: #3d6f4f;
    width: 100vw;
    height: 100vh;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
    padding: 20px;
}

.contact-content img {
    width: 200px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}






/*----------------- Responsivo ----------------->*/

@media screen and (min-width: 690px) {

    .header {
        height: 2.875rem;
    }

    .header-content {
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-buttons a {
        display: flex;
        height: 2.875rem;
        align-items: center;
        padding: 0.5rem 1.875rem;
    }

    .header-buttons a:hover {
        background-color: #006f58;
        color: #fff;
    }

    .main-button {
        background-color: #006f58;
        color: #fff;
    }

    .header-icons {
        display: flex;
    }

    .header-icons i {
        color: #006f58;
        border-color: #006f58;
        transition: 0.3s;
    }

    .header-icons i:hover {
        transform: scale(1.2);
    }

    .hero {
        background-color: #006f58;
        height: 500px;
    }

    .hero-content {
        align-items: flex-start;
        flex-direction: row;
        gap: 30px;
        padding: 5px 10px;
    }

    .hero-content h1 {
        font-size: 3.125rem;
    }

    .logo {
        width: 205px;
        height: 205px;
        border-radius: 1.25rem;
    }

    .hero-info {
        align-items: flex-start;
    }

    .hero-images img {
        width: 480px;
    }

    .bg-professional {
        height: 600px;
        background-size: 70px;
    }

    .professional {
        flex-direction: row;
        align-items: last baseline;
        justify-content: center;
        gap: 5rem;
        color: #000;
        
    }

    .professional img {
        width: 18.75rem;
        height: 25rem;
    }

    .professional-description {
        text-align: left;
        line-height: 3.75rem;
        margin-bottom: 6.25rem;
    }

    .professional-description h2 {
        font-size: 3.875rem;
        text-transform: uppercase;
    }

    .professional-description h3 {
        font-size: 2.625rem;
    }

    .professional-description ul {
        width: 600px;
        line-height: 25px;
        font-size: 18px;
    }

    .examples {
        height: 720px;
        position: relative;
    }

    .patinha {
        position: absolute;
        width: 60px;
        height: 60px;
    }

    .patinha-esquerda {
        top: 10px;
        left: 10px;
    }

    .patinha-direita {
        bottom: 10px;
        right: 30px;
    }

    .rescue {
        height: 480px;
        padding: 20px 0;
        gap: 40px;
    }

    .rescue-examples {
        flex-direction: row;
    }

    .rescue-examples img {
        transition: 0.2s;
    }

    .rescue-examples img:hover {
        transform: scale(1.1);
        z-index: 1;
    }

    .examples {
        height: 600px;
    }

    .examples p {
        width: 790px;
        font-size: 16px;
        text-align: center;
        padding: 10px 0 20px;
    }

    .examples-images {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5.625rem;
    }

    .examples-images img {
        width: 25%;
        transition: 0.2s;
    }

    .examples-images img:hover {
        transform: scale(1.1);
        z-index: 1;
    }

    .footer-icons {
        background-color: #006f58;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.625;
        gap: 1.563rem;
    }

    .footer-icons i {
        font-size: 3.125rem;
        color: #fff;
        transition: 0.3s;
    }

    .footer-icons i:hover {
        transform: scale(1.1);
    }

    .button-whatsapp {
        right: 1.5rem;
        bottom: 0.875rem;
    }

    .button-whatsapp img {
        max-width: 4rem;

    }

    .donation-body {
        overflow: hidden;
    }

    #donation-buttons a:hover {
        background-color: #3d6f4f;
        color: #fff;
    }

    .donation-button {
        background-color: #3d6f4f;
        color: #fff;

    }

    .donation {
        flex-direction: row;
        gap: 3.125rem;
        background-color: #3d6f4f;
        justify-content: center;
        padding: 10px 10px 100px;

    }

    .donation-code {
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    .donation-code .donation-qrcode {
        width: 300px;
    }

    .donation-text {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        gap: 0.938rem;
    }

    .patinha-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

    }

    .patinha-text img {
        width: 50px;
    }

    .donation-text span {
        text-transform: uppercase;
        font-weight: bold;
    }

    #contact-buttons a:hover {
        background-color: #3d6f4f;
        color: #fff;
    }

    .contact-button {
        background-color: #3d6f4f;
        color: #fff;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 100px;
    }
    .contact-content {
        flex-direction: row;
        justify-content: center;
        background-image: url(../img/Patinha.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 70px;
        margin-bottom: 0;
    }
    
    .contact-text {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        gap: 20px;
    }

    .contact-info {
        align-items: flex-start;
    }

    .contact-body {
        overflow: hidden;
    }
}